<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todos los usuarios</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <div class="container text-center">
            <div>
                <legend>Usuarios</legend>
            </div>
        <table class="table table-striped">
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo</th>
            <th scope="col">Creado en...</th>
            <th scope="col">Opciones</th>
            {% for usu in todos_usuarios %}
            <tr>
                {% if usu.id==empty %}
                    <td>Aun no se ingresan </td>
                {% else %}
                    <td>{{usu.nombre}}</td>
                    <td>{{usu.apellido}}</td>
                    <td>{{usu.correo}}</td>
                    <td>{{usu.created_at}}</td>
                    <td><a href="/mostrar/{{usu.id}}">Ver </a> | <a href="/editar/{{usu.id}}">Editar</a> | <a href="/borrar/{{usu.id}}">Borrar</a></td>
                {% endif %}
            </tr>
            {% endfor %}
            
        </table>
        </div>
        <a href="/crear">Añadir nuevo usuario</a>
    </body>

</html>
