<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resultado</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <div class="card" style="width:50%;">
            <div class="card-body">
                <h2 class="card-title">{{un_viaje.plan}}</h2>
                <div>
                    <p class="card-text" for="creado_por">{{creado_por}}</p>
                </div>
            <div>
                <p class="card-text" for="descripcion">{{descripcion}}</p>
            </div>
            <div>    
                <p class="card-text" for="inicio_viaje">{{inicio_viaje}</p>
            </div>
            <div>    
                <p class="card-text" for="fin_viaje">{{fin_viaje}}</p>
            </div>
            <div>
                <a href="/" class="btn btn-primary">Volver</a>
            </div>
            <div>
                <a href="/salir" class="btn btn-primary">Salir</a>
            </div>

        </div>
    </body>
</html>
