<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Encuesta Dojo</title>
    </head>

    <body>
        <form>
                <legend>Encuesta Dojo</legend>


            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Tu nombre</label>
                <input type="text" id="disabledTextInput" class="form-control">
            </div>

            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Ubicación Dojo</label>
                <select id="disabledSelect" class="form-select">
                    <option value="">Santiago</option>
                    <option>Valparaiso</option>
                    <option>Viña del mar</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Lenguaje favorito</label>
                <select id="disabledSelect" class="form-select">
                    <option>Python</option>
                    <option>C++</option>
                    <option>Java</option>
                </select>
            </div>


            <div class="mb-3">
                <label for="texto" class="form-label">Comentarios (opcional)</label>
                <textarea class="form-control" id="comentarios" rows="3"></textarea>
            </div>

            <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Boton</button>
            </div>
        </form>
    </body>
</html>
