<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla citas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body class="p-3 mb-2 bg-light text-white.bg-light" style="font-family:monospace;">
    <div class="container text-center">
        <div class="card" style="width: 70%; background-color: #90C8AC;" >
            <div class="card-body">
                <h2 class="card-title" style="font-family:monospace;">Hola, {{un_usuario.nombre}} !</h2>
                <div>
                </div>
                <div>
                    <button type="submit" style="border-radius: 10px; background-color:#FECD70">
                    <a href="/salir">Salir</a>
                    </button>
                </div>
                <div class="container text-center">
                    <div class="card">
                        <div class="card-body" style="background-color:#F9F9C5">
                            <h2 class="card-title"style="font-family:monospace;">Tus citas!</h2>
                            <table class="table table-striped">
                                <th scope="col">Tareas</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                                {% for cit in todas_citas %}
                                <tr>
                                    {% if cit.id==empty %}
                                        <td>Aun no se ingresan </td>
                                    {% else %}
                                        <td>{{cit['tareas']}}</td>
                                        <td>{{cit['fecha']}}</td>
                                        <td>{{cit['estado']}}</td>
                                        <td>{% if cit['estado']=='Pendiente' %}<a href="/editar/{{cit.id}}">Editar </a>|  <a href="/borrar/{{cit.id}}">Borrar</a>{% endif %} </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                <div>
                                    <a href="/" class="btn btn-primary">Volver</a>
                                </div>
                        </div>
                            </table>
                    </div>
                </div>
        </div>
        <div class="container text-center">
            <div class="card">
                <div class="card-body" style="background-color: #F9F9C5">
                    <h2 class="card-title"style="font-family:monospace;">Citas pasadas</h2>
                    <table class="table table-striped">
                        <th scope="col">Tareas</th>
                        <th scope="col">Fecha</th>
                        {% for cit in todas_citas %}
                            <tr>
                                {% if cit.id==empty %}
                                <td>Aun no se ingresan </td>
                                {% else %}
                                        {% if cit.id not in my_list %}          
                                            <td>{{cit['tareas']}}</td>
                                            <td>{{cit['fecha']}}</td>
                                        {% endif %}        
                                {% endif %}
                            </tr>
                        {% endfor %}  
                        <div>
                            <a href="/" class="btn btn-primary">Volver</a>
                        </div>
                    </table>    
                </div>
    </div>
</body>

</html>