<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dojos</title>
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>

    <body>
        <div>
            <table  class="table table-bordered border-primary" style="width:50% ;">
                <tr><h4>Dojo: {{un_dojo['nombre']}}</h4></tr>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                </tr>
                {% for nja in todos_ninjas %}
                {% if todos_ninjas.length ==0 %}
                <tr>
                    <td>A&uacute;n no hay ninjas en este dojo</td>
                </tr>
                {% else %}
                <tr>
                    <td>{{nja['nombre']}}</td>
                    <td>{{nja['apellido']}}</td>
                    <td>{{nja['edad']}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                
            </table>
        </div>
        <button type="submit">
        <a href="/">Home</a>
        </button>
    </div>
    </body>
</html>
